:root {
    --primary-color: #20272F;
    --secondary-color: #6E6F71;
    --accent-color: #FFCC00;
    --hover-color: #E9BC05;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8em;
    font-size: 1.2rem;
    background-color: #20272fe7;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    gap: 2em;
}

nav > button, .btn {
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    background: transparent;
    color: var(--accent-color);
    transition: all .3s;
}

nav > button:hover, .btn:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--hover-color);
}

#title {
    text-decoration: none;
    color: var(--accent-color);
}

#hero {
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 1)), url(./images/body-bg.jpg) center center/cover no-repeat;
    padding: 25px 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    min-height: 100vh;
    line-height: 70px;
}

#site-name-main {
    color: var(--accent-color);
    letter-spacing: 5px;
}

.btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
}